<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Domingos Panta - Curriculum Vitae</title>
<meta charset="UTF-8"/> 
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Domingos Panta."/>
<link type="text/css" rel="stylesheet" href="css/myProfile.css" th:href="@{css/myProfile.css}" />	
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="cvHeader">
		<div class="mainDetails">
			<div id="profilePicture" class="quickFade">
				<a href="/home" title="Home Page"><img src="images/profilePicture.png"/></a>
			</div>
			
			<div id="name">
				<h1 class="quickFade delayTwo">Domingos F. Panta Jr.</h1>
				<h2 class="quickFade delayThree">SAP Hybris Developer</h2>
			</div>
			
			<div id="contactDetails" class="quickFade delayFour">
				<ul>
					<li><a href="/contactme" title="Contact-me">juniordfpj@gmail.com</a></li>
					<li>+55 11 95590-5762</li>
					<li><a href="https://br.linkedin.com/in/domingos-panta-a125a420" title="My LinkedIn Profile" target="_blank"><img src="images/linked.png"/></a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionContent">
					Thank you for your message!
				</div>
			</article>
			<div class="clear"></div>
		</section>
	</div>
</div>
</body>
</html>