<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Domingos Panta - Curriculum Vitae</title>
<meta charset="UTF-8"/> 
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Domingos Panta."/>
<link type="text/css" rel="stylesheet" href="css/myProfile.css" th:href="@{css/myProfile.css}" />	
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="cvHeader">
		<div class="mainDetails">
			<div id="profilePicture" class="quickFade">
				<a href="/contactme" title="Contact-me"><img src="images/profilePicture.png"/></a>
			</div>
			
			<div id="name">
				<h1 class="quickFade delayTwo">Domingos F. Panta Jr.</h1>
				<h2 class="quickFade delayThree">SAP Hybris Developer</h2>
			</div>
			
			<div id="contactDetails" class="quickFade delayFour">
				<ul>
					<li><a href="/contactme" title="Contact-me">juniordfpj@gmail.com</a></li>
					<li>+55 11 95590-5762</li>
					<li><a href="https://br.linkedin.com/in/domingos-panta-a125a420" title="My LinkedIn Profile" target="_blank"><img src="images/linked.png"/></a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Summary</h1>
				</div>
				
				<div class="sectionContent">
					<p>I’ve been working in the IT area for around 6 years, 4 of which have been in the role of Software Developer. I’ve contributed to developing Android mobile apps, web applications using Drupal CMS and banking web applications in Java along with the Spring framework. In the last 1.5 years I’ve been working with the e-commerce platform SAP Hybris developing B2B applications. I’ve taken care of bug fixes and enhancements from a production system, as well as being part of 2 expansion projects working alongside offShore teams.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Faculdade de Tecnologia de Carapicuíba</h2>
					<p class="subDetails">Systems Analysis and Development</p>
					<p>Studied algorithms and programming logic, software engineering, computer architecture and organization, discrete mathematics, microcomputer programming and data structure.</p>
				</article>
				
				<article>
					<h2>Algoma University</h2>
					<p class="subDetails">Computer Science</p>
					<p>Studied in the English for Academic Purposes Program (EAPP), software development with Java programming, software development with C++ programming, database management systems and database programming.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>SAP Hybris Developer at Cognizant</h2>
					<p class="subDetails">November 2015 - Present</p>
					<p>
						<ul class="experienceDescription">
							<li>Developing system features into SAP Hybris 6.0 on top a global template core code to expand the e-commerce application to 3 other countries in Latin America;</li>
							<li>Contributing to software integration design between SAP systems and SAP Hybris;</li>
							<li>Developed backend and frontend code into hybris 5.4 for enhancements and expansion of an e-commerce application to 25 + countries in LATAM.</li>
							<li>Led Scrum's daily meetings as requested to keep track of tickets in development as well as delegated project related tasks to offshore resources as needed;</li>
							<li>Analyzed and solved issues raised by the customer services applying code bug fixes in the application;</li>
						</ul>
					</p>
				</article>
				
				<article>
					<h2>Java Developer Analyst at 2RPNet</h2>
					<p class="subDetails">July 2014 - November 2015</p>
					<p>
						<ul class="experienceDescription">
							<li>Wrote computer programming code in Java EE using Tomcat as application server;</li>
							<li>Wrote SQL code for data manipulation;</li>
							<li>Performed tests in systems collecting evidences from the tested functionalities;</li>
							<li>Utilized the following frameworks: JSF, Spring, Tiles and AWB which is the base development in for Bradesco bank;</li>
						</ul>
					</p>
				</article>
				<article>
					<h2>Web Developer Trainee at Algoma University</h2>
					<p class="subDetails">January 2014 - May 2015</p>
					<p>
						<ul class="experienceDescription">
							<li>Contributed to a website project on a biography of the Canadian poetry George Whalley;</li>
							<li>Learned Linux Debian and Drupal 7, the basics of HTML, CSS, PHP, Javascript, and jQuery;</li>
							<li>Developed a customized Drupal 7 module to display different versions of the same poems written by this poetry;</li>
						</ul>
					</p>
				</article>
				<article>
					<h2>Software Developer Trainee at A3S Services</h2>
					<p class="subDetails">August 2012 - December 2012</p>
					<p>
						<ul class="experienceDescription">
							<li>Contributed to the development of Mobile application software using Java programming(JME);</li>
							<li>Corrected errors by making appropriate changes and rechecking the program to ensure that the desired results were produced;</li>
							<li>Wrote documentation of program development and subsequent revisions, inserting comments in the coded instructions so others could understand the program.</li>
						</ul>
					</p>
				</article>
				<article>
					<h2>Information Technology Trainee at Fundacão do Desenvolvimento Administrativo(Fundap)</h2>
					<p class="subDetails">January 2012 - August 2012</p>
					<p>
						<ul class="experienceDescription">
							<li>Trained high school interns how to use a software to manage a computer laboratory;</li>
							<li>Provided technical expertise and advice to high school Trainees during their internship;</li>
							<li>Set up equipments for Trainee use, performing or ensuring proper installation of cables, operating systems, or appropriate software;</li>
						</ul>
					</p>
				</article>
				<article>
					<h2>Help Desk at B2W</h2>
					<p class="subDetails">August 2010 - December 2011</p>
					<p>
						<ul class="experienceDescription">
							<li>Answered user inquiries regarding computer software or hardware operation to resolve problems;</li>
							<li>Installed and performed minor repairs to software, or peripheral equipment, following installation specifications;</li>
							<li>Read technical manuals, conferred with users, and conducted computer diagnostics to investigate and resolve problems and to provide technical assistance and support;</li>
						</ul>
					</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Java (SE, EE e ME)</li>
					<li>C/C++</li>
					<li>PHP</li>
					<li>HTML and CSS</li>
					<li>JavaScript and JQuery</li>
					<li>SQL</li>
					<li>SQL Server, Oracle and MySQL</li>
					<li>CVS and Git</li>
					<li>Spring Core and MVC</li>
					<li>SAP Hybris</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>		
	</div>
</div>
</body>
</html>