<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>All messages sent since the site is live</title>
</head>
 
<body>
  <h1>Received Messages</h1>
 
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Message Subject</th>
        <th>Message Content</th>
      </tr>
    </thead>
 
    <tbody>
      <tr th:each="message: ${messages}">
        <td th:text="${message.id}"></td>
        <td th:text="${message.senderName}"></td>
        <td th:text="${message.subject}"></td>
        <td th:text="${message.senderEmail}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>